#heading {
  font-family: 'Slabo 27px', serif;
  color: #040405;
  padding-left: 30%;
  align-items: center;
  text-decoration: underline;
}

body {
  background: #ddad3e;
}

td {
  height: =50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

table{
  margin: auto;
}

input
{
  margin-left: 25%;
}
